body{
  background: yellow;
}
svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.monkey {
  stroke: green;
  stroke-width: 2px;
  stroke-dashoffset: -2000;
  stroke-dasharray: 2000;
  animation: monkey 3s infinite reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes monkey {
  0% {
    stroke-dashoffset: -2000;
  }
  50% {
    stroke: red;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
  }
}

@keyframes monkey {
  0% {
    stroke-dashoffset: -2000;
  }
  50% {
    stroke: red;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: purple;
  }
}